@import '/src/styles/components/animations';

.seeker {
    @extend .anim-blur;
    padding: ($gap-sm - 0.3rem) $gap-md;
    flex-grow: 1;

    @media screen and(min-width: $media-lg) {
        flex-grow: 0;
        width: 32rem;
    }

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}
