.seeker {
    backdrop-filter: blur(5px);
    padding: ($gap-sm - 0.3rem) $gap-md;
    border-radius: $radius;
    border-style: none;
    transition: $transition;
    outline: none;
    background-color: color-rgba(text, 0.1);
    color: color(text);
    flex-grow: 1;

    @media screen and(min-width: $media-lg) {
        flex-grow: 0;
        width: 32rem;
    }

    &::placeholder {
        color: color-rgba(text, 0.5);
    }

    &:focus {
        background-color: color-rgba(text, 0.2);
        backdrop-filter: blur(10px);
    }
}
