@import '/src/styles/globals';

.movie-details {
    width: 100%;

    display: grid;
    gap: $gap-md;

    animation: fadeIn;
    animation-duration: $anim-speed;

    @media screen and (min-width: $media-md) {
        grid-template-columns: 1fr 2fr 2fr;
    }
}
.movie-details__picture {
    text-align: center;
    @media screen and (min-width: $media-md) {
        text-align: left;
    }
}

.movie-details__img {
    width: 20rem;
    height: auto;
}

.movie-details__section {
    margin-bottom: $gap-lg;
}

.movie-details__section__title {
    display: block;
    margin-bottom: $gap-xs;
}

.movie-details__multi-sections {
    display: flex;
    gap: $gap-lg;
}
