@import '/src/styles/globals';

.search {
    animation: fadeIn;
    animation-duration: $anim-speed;
}

.search__title {
    margin-top: 6rem;
    margin-bottom: $gap-xl;
    font-size: $text-xl;
    font-weight: 400;
}
