@import '/src/styles/globals';
@import '/src/styles/components/buttons';

.credits-container {
    display: grid;
    gap: $gap-xl $gap-md;

    @media screen and(min-width: $media-md) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.credits__button {
    @extend.btn-outl-primary;
    width: 100%;
    margin-top: $gap-md;
    padding: $gap-sm;
}
