@import '/src/styles/globals';
@import '/src/styles/components/cards';
@import '/src/styles/components/containers';

.movie-view {
    position: relative;
    height: 100vh;
}
.movie-background {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::after {
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0.6) 30%,
            rgba(0, 0, 0, 0.2) 100%
        );
        position: absolute;
    }

    &::before {
        content: '';
        left: 0;
        bottom: 0%;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        position: absolute;
    }
}

.movie-overview {
    max-width: 40rem;
    margin: 10rem 0;
}
.movie-overview__title {
    font-size: $text-xl;
    margin: 0;
    margin-bottom: $gap-md;
}
.movie-overview__genres {
    display: inline-block;
    font-weight: bold;
    margin-bottom: $gap-md;
}
.movie-overview__info {
    line-height: 1.6;
    margin: 0;
    margin-bottom: $gap-md;
}
.movie-overview__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    font-weight: bold;
}
.movie-overview__details__certification {
    @extend .card-primary;
}
.movie-overview__details__likes {
    color: color(success);
}
