@import '/src/styles/globals';
@import '/src/styles/components/containers';
@import '/src/styles/components/animations';

.carousel-container {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: 0rem;
        height: 100%;
        width: 4rem;
        background: linear-gradient(90deg, transparent, color(background));
    }
}
.carousel-row {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    column-gap: $gap-md;
    scroll-behavior: smooth;

    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.carousel-btn {
    position: absolute;
    bottom: 0;
    z-index: 3;
    height: 100%;
    width: 4rem;
    opacity: 0;
    transition: $transition;
    font-size: $text-lg;
    background: none;
    color: color(text);
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }

    @media (hover: none) and (pointer: coarse) {
        display: none;
    }

    &.left {
        left: 0;
        background: linear-gradient(
            -90deg,
            color-rgba(background, 0),
            color-rgba(background, 0.5) 30%,
            color(background)
        );
    }

    &.right {
        right: 0;
        background: linear-gradient(
            90deg,
            color-rgba(background, 0),
            color-rgba(background, 0.5) 30%,
            color(background)
        );
    }
}
