@import '/src/styles/globals';

.section {
    position: relative;
    overflow: hidden;
    margin-bottom: $gap-md;

    animation: fadeIn;
    animation-duration: $anim-speed;
}

.section-title {
    margin-bottom: $gap-sm;
    font-weight: 400;
    font-size: $text-lg;
}
